.music-btn {
    margin-top: 20px;
    background-color: #ff4d79;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.music-btn:hover {
    background-color: #ff335f;
}
